<article class="editor-markdown-tutorial">
    <p>Markdown is a pretty easy yet powerful plain text markup language that can be used to format text in various ways but without many complicated tags. In fact it can be read and written very easily. This editor parses the entered Markdown and displays the result as HTML instantly. To write Markdown, you can use the following tags:</p>

    <p>A <strong>heading</strong> is written as a normal text but with multiple <code>=</code> characters as below:

    <pre>Heading
=======</pre>

    <p><strong>Sub-Headers</strong> work the same way, just use multiple <code>-</code> characters below the actual sub-heading:</p>

    <pre>Sub-Heading
-----------</pre>


    <p>Text can be <strong>bold</strong>, <em>italic</em> and <code>monospaced</code> like this:</p>

    <pre>**bold** *italic* `monospace`</pre>

    <p>Lists can be easily formatted with an asterisk. For ordered lists just use numbers:</p>

    <pre>
* cereals
* cocoa
* milk

1. Put the cereals in a bowl
2. Sprinkle some cocoa on the cereals
3. Finally add the milk. Yummy!</pre>

    <p><a href="http://www.wordpress.com" alt="Wordpress" target="_blank">Links</a> are very important and formatted in a Wiki-like syntax:</p>
    <pre>Visit [Wordpress](http://www.wordpress.com)</pre>

    <p>In case you just want the URL to be displayed as link text:</p>
    <pre>&lt;http://www.wordpress.com&gt;</pre>

    <p>Images <img src="http://s.wordpress.org/about/images/logos/wordpress-logo-32-blue.png" width="16" height="16" alt="Wordpress" /> can be included using their URL. This is an example for the Wordpress logo:</p>
    <pre>![Wordpress](http://s.wordpress.org/about/images/logos/wordpress-logo-32-blue.png)</pre>

    <p>Horizontal rules are added by placing minimum three hyphens, asterisks or underscores on a line:</p>
    <pre>***</pre>

    <p>Code blocks are written just as usual paragraphs but with an intendation of minimum four spaces or one tab:</p>

    <pre>    public class getMarkdown() {}</pre>

    <p>For a single line of inline code just use backticks `.</p>

    <p>To <em>emphasize text</em> use either asterisks and/or underscores:</p>

    <pre>*important*</pre>

    <p>For the complete syntax, please refer to <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Daring Fireball</a>.</p>
</article>